<footer class="footer-timer-progress col col-s-10 center">
        <div class="nav nav-daily row col-10">
          <div class="div-nav row col-s-10 center">     
                 <button
              class="hidden btn save row col-s-5 col-md-2 col-lg-1 tomato mr-5"
              id="fail"
            >Failed Pomodoro</button>
             <button
              class="hidden btn save row col-s-5 col-md-2 col-lg-1 ml-5"
              id="finish"
            >
              Finish Pomodora
            </button>
                 <button class="hidden btn save row col-s-10 col-md-2" id="start-pomodor">
              Start Pomodoro
            </button>
            <button
              class=" btn save row col-s-5 col-md-2 col-lg-1"
              id="start"
            >Start</button>
             <button
                    class="hidden btn cancel row col-s-5 col-md-2 col-lg-1 ml-5"
                    id="finish-pomodor"
                  >
                    Finish Task
                  </button>

          </div>
        </div>
</footer>