      <div class="div-timer row col-s-10 a-center j-space-between ml-2">
        <div class="div-timer arrow-back row col-1 a-center">
          <button class="icon-arrow-left nepal-t font-36" data-route="task-list">
            <span class="tooltiptext font-14">Go To Global List</span>
          </button>
        </div>

        <div class="timer-svg col center relative">
          <div class="svg-main relative">         
            <svg class="chart" width="350" height="350" viewBox="0 0 50 50">
              <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
            </svg>
          </div>          
          <canvas id="canvas-timer" width="300" height="300">   </canvas>      

          <div class="svg-text col center">
            <!-- Text To Start timer -->
            <p class="hidden svg-text-center white col a-center">Let's do it!</p>
            <!-- Text Timer over! -->
            <p class="hidden svg-text-center text-over white col col-6 center">
              Break is over!
            </p>
             <p class="hidden svg-text-center text-over white col col-6 center">
              You Completed Task
            </p>
          </div>  
          <!-- You complited task -->
          <div class="svg-text-completed col center">
            <!-- Text Timer over! -->

          </div>  
          <!-- Text show the time -->
          {{!-- <div class="hidden svg-text-timer col center">          
            <p class="svg-text-center text-num white col col-6 m-0 mt-5">6   
              <p class="svg-text-center text-minute white col col-6 m-0">
                minute
              </p>           
            </p>
          </div>
          <!-- Break  minute -->
          <div class="hidden svg-text-timer col center"> 
          <p class="svg-text-center text-minute white col col-6 m-0">
              BREAK                
            <p class="svg-text-center text-num white col col-6 m-0">3   
              <p class="svg-text-center text-minute white col col-6 m-0">
                minute
              </p>           
            </p>
            </p>            
          </div>--}}
        </div> 

        <div class="div-timer arrow-rigth row col-1 a-center">
          <button class="icon-arrow-right nepal-t font-36" data-route="reports">
            <span class="tooltiptext font-14">FORWARD</span>
          </button>
        </div>
      </div>