.opacity (@opacity: 0.5) {
  -webkit-opacity: @opacity;
  -moz-opacity: @opacity;
  opacity: @opacity;
}

.position-0(@relative:relative, @index:0){
  position: @relative;
  z-index: @index;
}

.color-pomodoro(@color:@white){
  color:@color;
}
.color-href(@color:@nepal){
  color: @color;
}
.border-none(@color:@nepal){
  border-bottom: @color;
}

.bg-remove(){  
  [data-set~="ametist"]{
    background-color: @lilac;
  }
  div[class*="ametist"]{
    background-color: @lilac;
  }
  div[class*="selective"]{
    background-color: @lilac;
  }
}

.remove(){
  .nav-remove{
    @media @tablet {
      margin-right: 44px;
      margin-left: 44px;     
  } 
  @media @desktop{
      margin-right: 108px;
      margin-left: 108px;
  }
  }
}

.height-column(@height:4){
  @media @mobile{
    height: 25.5px*@height;
  }
  @media @tablet{
    height: 18.1px*@height;
  }  
  
}


.checkmark-after(@color:@tomato){
   top: 3px;
   left: 3px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   border:solid 3px @background-color;
   background-color: @color;
}

.checkmark-bg-color(@color:@gray){
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: @color;
  border:none;
}

.container-pd(@padding){
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer; 
  padding-left: @padding;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input-radio-hide(){  
  position: absolute;
  opacity: 0;
  cursor: pointer; 
}

