// ~ at the beginning of path is used to enable webpack file revolver mechanism. Allows to use webpack aliases

/* example of using mixins */
@import ( reference ) '~@less-helpers-module/_mixins.less'; // ~@less-helpers-module - is a path to less helpers folder
@import ( reference ) '~@less-helpers-module/_variables.less'; // ~@less-helpers-module - is a path to less helpers folder

h1.test {
 .opacity(0.5);
  text-align: center;
  //background: url('~@assets-root-path/images/test.jpg') no-repeat; // ~@assets-root-path - is a path to images folder
}
.div-menu a{
  margin-right: 1rem;
}
span:active{
  color: white;
}
span{
  margin-right: 1rem;
}
.shadow{
  box-shadow:0 1px 5px .2px rgb(49, 49, 49);
  border-bottom: solid 1px #223849;
}
.header-count-remove{
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 50%;
  color: white;
  padding: initial;
}