    <h4 class="row center col-10 h4 header-navbar">{{navbar-title}}</h4>
        <div class="div-nav row col-s-9 a-center j-end mt-5">
          <button data-set="pomodoros" class=" bg-none br-none nepal-t" id="reports-pomodoros">{{first-nav}}</button>
          <span>|</span>
          <button data-set="tasks" class=" bg-none br-none nepal-t" id="reports-tasks">{{second-nav}}</button>
        </div>
    