      <div class="div-nav row remove-select col-s-10 a-center j-start ">
        <span class="select-all hover">Select All</span>
        <span>|</span>
        <span class="deselect-all hover">Deselect All</span>
      </div>