
        <h4 class="row center col-10 h4 header-navbar">{{navbar-title}}</h4>
        <div class="div-nav row col-s-9 a-center j-end mt-5">
          <a href="/{{first-link}}" data-set="pomodoros" class="{{first-link}}">{{first-nav}}</a>
          <span>|</span>
          <a href="/{{second-link}}" data-set="pomodoros" class="{{second-link}}">{{second-nav}}</a>
        </div>
    