<div class="row center">
    {{#each estimat}}
     <div class="img-tomato"> </div>
    {{/each}}

</div>
<div class="col center">
    <span class="icon-add font-10 white" id="add-pomodoro"></span>
</div>