.secture-picture{
    margin-top: 288px;
    @media @tablet{
        margin-top: 156px;
    }    
    @media @desktop{
        margin-top: 127px;
    }
}
.add-picture{
    width: 212px;
    height: 264px;
    @media @tablet{
        width: 162px;
        height: 162px;   
    }    
}
.add-no-task{
    margin-top: 200px;
    @media @tablet{
        margin-top: 70px;
    }
    @media @desktop{
        margin-top: 92px;
    }
}
.discription-text{
    font-style: normal;
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 48px;
    text-align: center;
    @media @tablet{
        font-size: 1.875rem;
    }
}
.btn-first-entrance{
    @media @mobile{
        margin-bottom: 48px;
    }
    @media @tablet{
        margin-top: 56px;
    }
    @media @desktop{
      margin-top: 80px;  
    }    
}

.move-first-task{
    margin-top: 64px;
    @media @tablet{
        margin-top: 70px;
    }    
    @media @desktop{
        margin-top: 32px;
    }

}
.done-shadow{
   .opacity(0.8);
     .daily-text-h5{
        text-decoration: line-through;
   }
}
.task-daily-remove{
    min-width: 5rem;      
    font-size: 2.4em;    
    &:hover{
        .bg-remove();            
        .icon-trash:before{
           content: "\e906";  
        }           
    }
    span{
        margin: 0;
    }
}

.remove-select{
    .remove();
}
.remove-count:before{
    content: "2";
    position: absolute;
    bottom: -11px;
    left: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: @red;
    text-align: center;
    color: @white;
    border: none;
}
.logo{
    height: 74px;
    margin-bottom: 24px;
}
.header-h2{
    color: @white;
    font-weight: 500;
    font-style: normal;

    .icon-add{
        padding-left: 1.5em;
        color: @white;
    }
    @media @mobile{
        position: fixed;
        top:1em;
        left:2em;        
        align-items: center;
        z-index: 2;

    }
    @media @tablet{
      width: 100%; 
      position: sticky;   
      top: 3em; 
      align-items: center;
      justify-content: center;    
      
    }
  }