body {
  background: @background-color;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  position: relative;
}  


body .header{ 
  padding-top: 2em;
  padding-bottom: 2em;  
  position: sticky;
  top:0; 
  z-index: 1;    
  background-color: @background-color;
  padding-left: 24px;
  padding-right: 24px;

  @media @tablet {
      padding-right: 44px;
      padding-left: 44px;
      padding-bottom: 2em;
  } 
  @media @desktop{
      padding-right: 108px;
      padding-left: 108px;
      
  }
  .div-menu{
       span{
          margin-left: 1.5em;
          color: @nepal;
          &:hover{
              color:@spray;
          }
      }
      .white{
          color: @white;
      } 
      @media @tablet{
          padding-top: 16px;
      }       
  }

  @media @mobile{
      flex-direction: row-reverse;
          .daily-h2{
      justify-content: flex-start;
      h2{
         font-size: 1,5rem;
      }
     
  }
  }
  @media @tablet{
      flex-direction: column;
      .daily-h2{
          align-items: center;
          justify-content: center;
          h2{
             font-size: 1.75rem;
          }
         
      }
  }

  h2{
      color: @white;
      font-style: normal;
      font-weight: 100;
  }
}
.nav{
  margin-top: 28px;
  @media @mobile{
      flex-direction: column-reverse;
  }    
  @media @tablet {
      margin-right: 44px;
      margin-left: 44px;
      margin-top: 3px;
  } 
  @media @desktop{
      margin-right: 108px;
      margin-left: 108px;
  }
.div-nav{
  a{
      color: @nepal;      
      font-size: small;
      &:active, &:hover{
          color: @white;
      }
     
  }
  span{
      color: @nepal;
      margin-left: 16px;
      margin-right: 16px;
  }
}
.h4{
  color: @nepal;
  font-style: normal;
  font-weight: 300;        
}
}
a{
  text-decoration: none;
}
.cancel{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @maliby;
  border: none;
  font-size: normal;
  font-weight: 700;
  margin-left: 24px;
  margin-right: 24px;
  height: 44px;
  &:hover, &:focus{
      background-color: @curious-blu;
  }
  &:active{
      background-color: @pelorous;
  }
}
.save{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @btn-ok;
  border: none;
  font-size: normal;
  font-weight: 700;
  height: 44px;
  &:hover, &:focus{
      background-color: @meadow-dark;
  }
  &:active{
      background-color: @deep-sea;
  }
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center; 
  border: none;
  font-size: normal;
  font-weight: 700;
  height: 44px;
  color:@white;
}
.hidden{
  display: none !important;
}
.text-center{
  text-align: center;
}
.center{
  align-items: center;
  justify-content: center;
}
.a-center{
  align-items: center;
}
.a-end{
  align-items: flex-end;
}
.a-start{
  align-items: flex-start;
}
.j-center{
  justify-content: center;
}
.j-end{
  justify-content: flex-end;
}
.j-start{
  justify-content: flex-start;
}
.j-space-between{
  justify-content: space-between;
}
.j-space-around{
  justify-content: space-around;
}
.col{
  display: flex;
  flex-direction: column;  
}
.row{
  display: flex;
  flex-direction: row;
}
.col-1{
  width: 10%;
}
.col-2{
  width: 20%;
}
.col-3{
  width: 30%;
}
.col-4{
  width: 40%;
}
.col-5{
  width: 50%;
}
.col-6{
  width: 60%;
}
.col-7{
  width: 70%;
}
.col-8{
  width: 80%;
}
.col-9{
  width: 90%;
}
.col-95{
  width: 95%;
}
.col-10{
  width: 100%;
}
.col-s-5{
 @media @mobile {
     width: 50%;
 }
}
.col-s-6{
  @media @mobile {
      width: 60%;
  }
 }
 .col-s-7{
  @media @mobile {
      width: 70%;
  }
 }
.col-s-8{
  @media @mobile{
      width: 80%;
  }
}
.col-s-9{
  @media @mobile{
      width: 95%;
  }
}
.col-s-10{
  @media @mobile {
      width: 100%;
  }
}

.col-md-1{
  @media @tablet{
      width: 10%;
  }
}
.col-md-2{
  @media @tablet{
      width: 20%;
  }
}
.col-md-3{
  @media @tablet{
      width: 30%;
  }
}
.col-md-4{
  @media @tablet{
      width: 40%;
  }
}
.col-md-5{
  @media @tablet{
      width: 50%;
  }
}
.col-md-6{
  @media @tablet{
      width: 60%;
  }
}
.col-md-7{
  @media @tablet{
      width: 70%;
  }
}
.col-md-8{
  @media @tablet{
      width: 80%;
  }
}
.col-md-9{
  @media @tablet{
      width: 90%;
  }
}
.col-md-10{
  @media @tablet{
      width: 100%;
  }
}
.col-lg-1{
  @media @desktop{
      width: 10%;
  }
}
.col-lg-2{
  @media @desktop{
      width: 20%;
  }
}
.col-lg-3{
  @media @desktop{
      width: 30%;
  }
}
.col-lg-4{
  @media @desktop{
      width: 40%;
  }
}
.col-lg-5{
  @media @desktop{
      width: 50%;
  }
}
.col-lg-6{
  @media @desktop{
      width: 60%;
  }
}
.col-lg-7{
  @media @desktop{
      width: 70%;
  }
}
.col-lg-8{
  @media @desktop{
      width: 80%;
  }
}
.col-lg-85{
  width: 85%;
}
.col-lg-9{
  @media @desktop{
      width: 90%;
  }
}
.col-lg-10{
  @media @desktop{
      width: 100%;
  }
}
.h-0{
  height: 0;
}
.h-10{
  height: 10%;
}
.h-20{
  height: 20%;
}
.h-30{
  height: 30%;
}
.h-40{
  height: 40%;
}
.h-50{
  height:50%;
}
.h-60{
  height: 60%;
}
.h-70{
  height: 70%;
}
.h-80{
  height: 80%;
}
.h-90{
  height: 90%;
}
.h-100{
  height: 100%;
}
.m-0{
  margin: 0;
}
.m-1{
  margin: 1em;
}
.m-5{
  margin: .5em;
}
.mr-1{
  margin-right: 1em;
}
.mr-2{
  margin-right: 2em;
}
.mr-5{
  margin-right: .5em;
}
.ml-1{
  margin-left: 1em;
}
.ml-2{
  margin-left: 2em;
}
.ml-5{
  margin-left: .5em;
}
.mt-0{
  margin-top: 0;
}
.mt-1{
  margin-top: 1em;
}
.mt-2{
  margin-top: 2em;
}
.mt-3{
  margin-top: 3em;
}
.mt-10{
  margin-top: 10em;
}
.mt-7{
  margin-top: 7em;
}
.mt-5{
  margin-top: .5em;
}
.mb-0{
  margin-bottom: 0;
}
.mb-1{
  margin-bottom: 1em;
}
.mb-2{
  margin-bottom: 2em;
}
.mb-5{
  margin-bottom: .5em;
}
.mb-12{
  margin-bottom: 12px;
}
.ml-0{
  margin-left: 0;
}
.ml-18{
  margin-left: 18px;
}
.ml-24{
  margin-left: 24px;
}
.mr-18{
  margin-right: 18px;
}
.mr-32{
  margin-right: 32px;
}
.mr-64{
  margin-right: 64px;
}
.mt-14{
  margin-top: 14px;
}
.mt-18{
  margin-top: 18px;
}
.mt-32{
  margin-top: 32px;
}
.mt-56{
  margin-top: 56px;
}
.mt-64{
  margin-top: 64px;
}
.pl-5{
  padding-left: .5rem;
}
.pr-5{
  padding-right: .5rem;
}
.pt-5{
  padding-top: .5rem;
}
.pb-5{
  padding-bottom: .5rem;
}
.center-important{
  align-items: center !important;
  justify-content: center !important;
}
.hover-spray{
  color: @nepal;
  &:hover{
    color: @spray;
  }
}
.relative{
  position: relative;
}
.xs{
  font-size: x-small;
}
.small{
  font-size: small;
}
.regular{
  font-size: medium;
}
.large{
  font-size: x-large;
}
.xxl{
  font-size: xx-large;
}
.font-36{
  font-size: 2.25rem;
}
.font-32{
  font-size: 2rem;
}
.font-30{
  font-size: 1.875rem;
}
.font-28{
  font-size: 1.75rem;
}
.font-24{
  font-size: 1.5rem;
}
.font-22{
  font-size: 1.375rem;
}
.font-20{
  font-size: 1.25rem;
}
.font-14{
  font-size: 0.875rem;
}
.font-12{
  font-size: 0.75rem;
}
.font-10{
  font-size: 0.625rem;
}
.bold{
  font-weight: bold;
}
.normal{
  font-weight: normal;
}
.nepal-t{
  color: @nepal;
}
.white{
  color:@white;
}

.bg-white{
  background-color: @white;
}
.bg-none{
  background-color: transparent;
}

.br-maliby{
  border-color: @maliby;
}
.br-none{
  border: none;
}
.br-light{
  border-bottom: solid 1px @br-dark;
}
