.message{
    .opacity(.8);
    position: absolute;
    right:0;
    bottom: 0;
    z-index: 1;
    height: 72px;    
    border: solid 1px white;
    border-radius: 5px;
    @media @tablet{
        height: 56px;
    }
}
.info-icon{
    width: 86px;    
    height: 100%;
    background: rgba(243, 243, 243, 0.2);    
    
    @media @tablet{
        width: 72px;
    }
    .icon-tomato-info{
        color: white;
    }
}
.global-message-close{  
    height: 100%;
}
.global-message-text{
    height: 100%; 
    p{
        font-size: 1.375rem;                
        @media @tablet{
            font-size: 0.9375rem;
        }
    }
}
