.form{
    margin-left: 96px;
    margin-right: 96px;
}
.form-modal-legend{
  text-align: center;
  font-size: 28px;
}
.category{
    font-size: 1.25rem;
    @media @tablet{
        font-size: 1rem;
    }
}

.part-input{
    margin-top: 40px;
    @media @tablet{
        margin-top: 32px;
    }
}
.education{
 margin-left: 16px;
    &:hover{
        color:@maliby;
    }
}
.hobby{
    margin-left: 16px;
    &:hover{
        color: @ametist;
    }
}
.sport{
    margin-left: 16px;
    &:hover{
    color: @tomato;
    }
}
.other{
    margin-left: 16px;
    &:hover{
        color:@turquoise;
    }
}

.hight{
    margin-left: 32px;
    &:hover{
        color: @carrot;
    }
}
.middle{
    margin-left: 32px;
    &:hover{
        color: @selective;
    }
}
.low {
    margin-left: 32px;
    &:hover{
        color:@meadow;
    }
}
.img-tomato{
    width: 20px;
    height: 20px;
    margin-bottom: 13px;
    margin-right: 13px;
    background-image: url("/images/empty-tomato.svg");
}
.fill-tomato{
  width: 20px;
  height: 20px;
  margin-bottom: 13px;
  margin-right: 13px;
  background-image: url("/images/fill-tomato.svg");
}
.crisscross-tomato{
  width: 20px;
  height: 20px;
  margin-bottom: 13px;
  margin-right: 13px;
  background-image: url("/images/tomato-failed.svg");
}
.modal{
    background-color: @background-color;
  
    @media @mobile{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    @media @tablet{
        width: 100%;
        height: 100%;    
        position: fixed;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);   
        z-index: 1;         
    }
    @media @tablet{
        width: auto;
        height: auto;    
        position: fixed;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);   
        z-index: 2; 
        margin-bottom: 48px;
    }
    input:hover, input:active, input:focus{
          border: none;
    }

}
.main-modal{
    .opacity(.4);
}
.deadline{
  position: relative;
}

#calendar{
  position: absolute;
  top:5rem;
  left: 2rem;

  z-index: 3;
  width: 10rem;
  box-shadow:2px 5px 5px 3px #313131;
  background-color: @background-color;
  .calendar-date{
    border-bottom: 1px solid @selective;
    border-top: 1px solid @selective;
    margin-bottom: .5rem;
  }
  button{
    background-color: transparent;
    border: none;
  }
}

/* The container */
.container:first-child{
  .container-pd(30px);
}
.container:nth-child(2){
  .container-pd(30px);
  margin-left: 25px;
}
.container:nth-child(3){
  .container-pd(30px);
  margin-left: 25px;
}
.container:nth-child(4){
  .container-pd(40px);
  margin-left: 25px;
}


/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: @nepal;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark-urgent {
  background-color: @tomato;
}
.container:hover input ~ .checkmark-hight {
  background-color: @carrot;
}
.container:hover input ~ .checkmark-midle {
  background-color: @selective;
}
.container:hover input ~ .checkmark-low {
  background-color: @meadow;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark-urgent {
  background-color: @tomato;
}
.container input:checked ~ .checkmark-hight {
  background-color: @carrot;
}
.container input:checked ~ .checkmark-midle {
  background-color: @selective;
}
.container input:checked ~ .checkmark-low {
  background-color: @meadow;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark-urgent:after {
  .checkmark-after(@tomato);
}
.container .checkmark-hight:after {
  .checkmark-after(@carrot);
}
.container .checkmark-midle:after {
  .checkmark-after(@selective);
}
.container .checkmark-low:after {
  .checkmark-after(@meadow);
}

.container-work{
  .container-pd(30px);
}
.container-education{
  .container-pd(30px);
  margin-left: 25px;
}
.container-hobby{
  .container-pd(30px);
  margin-left: 25px;
}
.container-sport{
  .container-pd(40px);
  margin-left: 25px;
}
.container-other{
  .container-pd(40px);
  margin-left: 25px;
}

/* Hide the browser's default radio button */
.container-work input,
.container-education input,
.container-hobby input,
.container-sport input,
.container-other input
 {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark-work,
.checkmark-education,
.checkmark-hobby,
.checkmark-other,
.checkmark-sport {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: @nepal;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-work:hover input ~ .checkmark-work {
  background-color: @selective;
}
.container-education:hover input ~ .checkmark-education {
  background-color: @maliby;
}
.container-hobby:hover input ~ .checkmark-hobby {
  background-color: @lilac;
}
.container-sport:hover input ~ .checkmark-sport {
  background-color: @tomato;
}
.container-other:hover input ~ .checkmark-other {
  background-color: @meadow;
}

/* When the radio button is checked, add a blue background */
.container-work input:checked ~ .checkmark-work {
  background-color: @selective;
}
.container-education input:checked ~ .checkmark-education {
  background-color: @maliby;
}
.container-hobby input:checked ~ .checkmark-hobby {
  background-color: @lilac;
}
.container-sport input:checked ~ .checkmark-sport {
  background-color: @tomato;
}
.container-other input:checked ~ .checkmark-other {
  background-color: @meadow;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-work:after,
.checkmark-education:after,
.checkmark-hobby:after,
.checkmark-other:after,
.checkmark-sport:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-work input:checked ~ .checkmark-work:after {
  display: block;
}
.container-education input:checked ~ .checkmark-education:after {
  display: block;
}
.container-sport input:checked ~ .checkmark-sport:after {
  display: block;
}
.container-hobby input:checked ~ .checkmark-hobby:after {
  display: block;
}
.container-other input:checked ~ .checkmark-other:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-work .checkmark-work:after {
  .checkmark-after(@selective);
}
.container-education .checkmark-education:after {
  .checkmark-after(@maliby);
}
.container-hobby .checkmark-hobby:after {
  .checkmark-after(@lilac);
}
.container-sport .checkmark-sport:after {
  .checkmark-after(@tomato);
}
.container-other .checkmark-other:after {
  .checkmark-after(@meadow);
}