.modal-remove{
    min-width:520px;
    min-height: 639px;
}
.nav-remove{
   flex-wrap: 1;
}
.container-remove-task{
  flex-grow: 7;
}
.remove-text{
    color: @nepal;
    text-align: center;
    font-size: 1.875rem;
    font-weight: 300;
    font-style: normal;
}
.remove-button{ 
    .btn-cancel-task,
    .btn-remove-task{        
        font-size: 1.125rem;
        @media @tablet{
        width: 115px;       
        }   
    }
}