

.column-full {
    position: absolute;
    bottom: 0;
}




.footer-reports{
    height: 24px;
    
}
.div-report  {
   min-height: 750px;

   @media @tablet{
       margin-left: 45px;
       min-height: 450px;
   }
   @media @desktop{
       margin-left: 109px;
   }
}
.arrow-back{
    margin-left: 0;
}
.div-diagramm{
    justify-content: space-evenly;
    position: relative;
}
.diagram-table{
    width: 552px;
    height: 305px;
    position: relative;
    @media @tablet {
        height: 181px;
    }
    .table-back{
        border-bottom: solid 1px @white;
       
        .table-row{
            height: 50px;
            border-bottom: 1px solid #345168;
            
            @media @tablet{
                height: 35px;
            }
        }
        .num{
          color: @white;
          margin-left: -20px;
          margin-bottom: -7px;
          text-align: start;          
        }

    }
    
}
.br-left{
    border-left: solid 1px @white;
}

.diagram-column{
  position: absolute;
  bottom: -45px;
  left: 0;
  z-index: 1;
  @media  @tablet {
      bottom: -70px;
  }
}
.diagram-table{
    .diagram-column-month{
        bottom: -35px;
        @media  @tablet {
            bottom:-69px;
        }
    }
}

.column{
    max-height: 255px;
    @media  @tablet {
        max-height: 181px;
    }
}
.column-unite-day{
    .column{
        width:40px;
    }
}
.column-unite-week{
    .column-unite{
        margin-left: 23px;
        margin-right: 23px;
        .column-tasks{
            .column{
                 width:26px;
             }
        }
    }
}
.column-unite{
    margin-left: 31px;
    margin-right: 31px;
    .column-together{
        height: 255px;
        @media @tablet {
            max-height: 181px;
        }
    }

    
}
.column-unite-month{
    .column-unite{
        margin: 0;
            .column-tasks{
        .column-together-month{
            height: 255px;
            @media @tablet{
                height: 181px;
            }
          .column{
              width:6px;
              margin-left: 11px;
              margin-right: 0;
            }        
        }
    }
    .discription-column{
        font-size: 0.6875rem;
    }
    }

}
.column-failed-task{
    height: 255px;
    margin-left: 14px;
    @media @tablet{
        height: 181px;
    }
}
.column-unite-day{
    height: 255px;
    @media @tablet{
        height: 181px;
    }
}

.discription-column{
    font-size: 0.875rem;
    @media @tablet{
        font-size: 0.6875rem;
    }
}
.div-diagram-referenses{
    max-width: 552px;
    position: absolute;
    bottom:-113px;
    left: 40px;
    z-index: 2;
    justify-content: space-evenly;
    @media @tablet {
        bottom:-100px;
        left: 80px;
    }
    div{ 
        align-items: baseline; 
    p, i{
        font-size: 0.875rem;
        @media @tablet{
            font-size: 0.6875rem;
        }
    }
}
}


.column-urgent,
.column-level,
.column-high,
.column-middle,
.column-low,
.failed,
.icon-arrow-left,
.icon-arrow-right,
.icon-trash,
.icon-list,
.icon-statistics,
.icon-settings,
.icon-add,
.icon-close,
.icon-edit,
.global-text,
.icon-tomato,
.icon-arrows-up {
    position: relative;
    display: inline-block;
    // border-bottom: 1px dotted @black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .column-urgent .tooltiptext,
  .column-level .tooltiptext,
  .column-high .tooltiptext,
  .column-middle .tooltiptext,
  .column-low .tooltiptext,
  .failed .tooltiptext,
  .icon-arrow-left .tooltiptext,
  .icon-arrow-right .tooltiptext,
  .icon-trash .tooltiptext,
  .icon-add .tooltiptext,
.icon-list .tooltiptext,
.icon-statistics .tooltiptext,
.icon-settings .tooltiptext,
.icon-edit .tooltiptext,
.icon-close .tooltiptext,
.global-text .tooltiptext,
.icon-tomato .tooltiptext,
.icon-arrows-up .tooltiptext
{
    visibility: hidden;
    width: 70px;
    background-color: @white;
    color: @black;
    text-align: center;
    margin: -15px -15px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .column-urgent:hover .tooltiptext,
  .column-level:hover .tooltiptext,
  .column-high:hover .tooltiptext,
  .column-middle:hover .tooltiptext,
  .column-low:hover .tooltiptext,
  .failed:hover .tooltiptext,
  .icon-arrow-left:hover .tooltiptext,
  .icon-arrow-right:hover .tooltiptext,
  .icon-trash:hover .tooltiptext,
  .icon-list:hover .tooltiptext,
  .icon-statistics:hover .tooltiptext,
  .icon-settings:hover .tooltiptext,
  .icon-add:hover .tooltiptext,
  .icon-close:hover .tooltiptext,
  .icon-edit:hover .tooltiptext,
  .global-text:hover .tooltiptext,
  .icon-tomato:hover .tooltiptext,
  .icon-arrows-up:hover .tooltiptext{
    visibility: visible;
  }