.header-settings{    
    .div-menu{
         span{
            margin-right: 1.5em;
            color: @nepal;
            &:hover{
                color:@turquoise;
            }
        }        
    }
    @media @mobile{
        flex-direction: row-reverse;
            .settings-h2{
        align-items: flex-start;
    }
    }
    @media @tablet{
        flex-direction: column;
        .settings-h2{
            align-items: center;
        }
    }

    h2{
        color: @white;
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        @media @tablet{
        font-size: 1.75rem;
        }
    }
}
.nav-settings{
    @media @mobile{
        flex-direction: column-reverse;
    }    
    .div-nav{
        a{
            color: @nepal;
            padding: 0 .5em;
            font-size: small;
            &:active, &:hover{
                color: @white;
            }
           
        }
        span{
            color: @nepal;
        }
    }
    .h4{
        color: @nepal;
        font-style: normal;
        font-weight: 300;  
        font-size: 1.75rem;      
        @media @tablet{
            font-size: 1.375rem;
        }
    }
}
.main-settings{
    .article-settings{
        .div-timer{
            align-items: baseline;
            margin-top: .5em;            
            .circle{
                width: .7em;
                height: .6em;
                border-radius: 50%;
                margin-right: .5em;
            }
            .div-timer-href{
                  border-bottom: solid 1px @nepal;
            width: 252px;
            height: 2em;            
             p{
            color: @white;           
            font-size: 1rem;    
            @media @tablet{
                font-size: 0.875rem;
            }               
        }   
            }
        
        }
      
    }
}
.main-pomodoro-settings{
 
    .pomodoro-settings{        
        @media @tablet{
            flex-direction: row;
            justify-content: space-around;
        }
        .pomodoro-first-workspace,
        .pomodoro-second-workspace{
            width: 376px;
            
            @media @tablet{
                width: 356px;
                margin-left: 2em;
            }
            @media @desktop{
                width: 341px;
            }
        }
        .pomodoro-second-workspace{
            @media @tablet{               
                margin-left: 2em;
            }
            @media @desktop{
                margin-left: 0;
            }
        }

        .div-timer{
            align-items: baseline;
            margin-top: .5em;  
            position: relative;
            .circle{
                width: .6em;
                height: .6em;
                border-radius: 50%;
                margin-right: 16px;               

            }

            .div-timer-href{                
                  border-bottom: none;
          
             height: 2em;     
             .pomodoros-time{
                color: @nepal;
                font-weight: 100;
                border-bottom: solid 1px @nepal;
                .minus, .plus{
                    &:hover, &:active{
                        color: @spray;
                    }
                }
             }       
             p{            
            .color-href(@white);          
            font-size: small;    
            &:active, &:hover{
                color: @white;
            }                
        }   
            }
            .last-literale{
                color: @nepal;
                font-size: small;
                span{
                    color: @white;
                }

            }
        
        }
      
    }
    .your-cycle{
        margin-top: 64px;
        @media @tablet {
            margin-top: 72px;
        }
        h3{
            color: @white;
        }
    }
}
.footer-settings{
    justify-self: flex-end;
    @media @mobile {
        margin-top: 1em;        
    }
    .btn{
        height: 72px;
        font-size:1.5rem;
        font-weight: 500;
        font-style: normal;
    
        @media @tablet {
            height: 44px;
            font-size: 1.125rem;
            font-weight: 700;
        }  
    }
    .btn-go{
        max-width: 100%;
        background-color: @btn-save; 
        margin: 1em;   
        @media @tablet{
            width: 150px;                
        }
        &:hover, &:active{
            background-color: @curious-blu;
        }
    }
    .btn-save{
        background-color: @btn-ok;
        max-width: 100%;
        &:hover, &:active{
            background-color: @meadow-dark;
        }
        @media @tablet{
            width: 120px;         
        }
    }
}

.worktime{
    background-color: @selective;
}

.iterationtime{
background-color: @turquoise;
}

.shorttime{
    background-color: @maliby;
}

.longtime{
    background-color: @lilac;
}