.header-start{
    .div-menu{
        span{
            margin-right: .7em;
            color: #8DA5B8;
            &:hover{
                color:#82C7E0;
            }
        }
    }
}
.main-start{
    @media @mobile{
      height: 15em;  
    }
    @media @tablet{
      margin-top: 1em;
      height: 20em;       
    }    
    .main-page-tomato{
        width: 10em;
        height: 10em;
        img{
            width: auto;
        }
    }
    .main-page-h3{
        h3{
            color: #8DA5B8;
            font-weight: 100;
            text-align: center;
        }
    }
    .footer-start{
        .main-page{
            .btn{
                height: 2em;
                border: none;
                color: white;
                font-weight: bold;
                max-width: 10em;
            }
            .btn-skip{
                background-color: #59ABE3;
            }
            .btn-settings{
                background-color: #1ABC9C;
            }
        }
    }
}