.main-daily{
    margin-left: 24px;
    margin-right: 24px;
    @media @tablet {
        margin-right: 44px;
        margin-left: 44px;
    } 
    @media @desktop{
        margin-right: 108px;
        margin-left: 108px;
    }
}
        .task-daily{           
                    
            .task-daily-shrink{
                width: 8px;       

            }
            .task-daily-day{
                background-color: @white;
                width: 94px;
                text-align: center;                
            }
            .task-daily-contain{                

                background-color: @white;                
                .task-daily-text{
                    box-sizing: content-box;
                    width: 100%;                    
                    .daily-text-h5{
                        margin: 16px 0 4px 0;
                    }
                    .daily-text-p{
                        margin-bottom: 16px;
                    }
                }
                .task-daily-edit-remove{
                    .icon-edit{                       
                        margin-left: 15px;
                    }
                    .icon-trash{
                        margin-right: 15px;
                        margin-left: 15px;
                    }
                }
            }
            .task-daily-pomodoro{      
                width: 87px;    
                .change-pomodoro{
        
                    .icon-tomato{
                        position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        font-size: 3em;                       
                        }
                         &:hover{                                                     
                           .icon-tomato:before{
                               content: "\e90e";
                           } 
                           .paragraph{                        
                            color: transparent;
                           }                           
                        }
                    }
                        

            }
        }

.footer-daily{
    margin: 24px 64px;
    
    @media @tablet {
        margin-left: 44px;
        margin-right: 44px;
    } 
    @media @desktop{
        margin-right: 108px;
        margin-left: 108px;
    }
    .global-text{
        margin-right: 18px;
    }


.section{
    .section-part{
        .section-part-header{
               .section-radio-button{
                margin-left: -3px;
                margin-bottom: -3px;
                .section-radio-text{
                    margin: 0 0 0 18px;  
                    font-style: normal;        
                }
                  .radio-button,
                  .section-radio-text{
                      font-size: 0.875rem;
                      font-weight: bold;
                    }
                } 
             .section-border-consist{
                    .section-part-task{
                        margin-left: 0px;
                    }
                }
           }
        }
    }
}
.nav {
    .div-nav{
        .globallist-nav{
    margin-left: .1rem;
    margin-right: .1rem;
    &:hover{
        color: white;
    }
}
    }
}

.nepal{
    background-color: @nepal;
}
.ametist{
    background-color: @ametist;
}
.ametist-change{
   background-color: @ametist;
   &:hover{
       background-color: @lilac;
   }
}
.ametist-t{
    color:@ametist;
}
.br-ametist{
    border-left: 7px solid @ametist;
}
.lilac{
    background-color: @lilac;
}
.lilac-t{
    color: @lilac;
}
.tomato{
    background-color: @tomato;
}
.tomato-change{
    background-color: @tomato;
    &:hover{
        background-color: @dark-coral;
    }
}
.tomato-t{
    color: @tomato;
}
.br-tomato{
    border-left: 7px solid @tomato;
}
.terracota{
    background-color: @terracota;
}
.terracota-change{
    background-color: @terracota;
    &:hover{
        background-color: @chestnut;
    }
}
.terracota-t{
    color: @terracota;
}
.selective{
    background-color: @selective;
}
.selective-change{
    background-color: @selective;
    &:hover{
        background-color: @tangerine;
    }
}
.selective-t{
    color:@selective;
}
.gorse{
    background-color: @gorse;
}
.gorse-t{
    color: @gorse;
}
.br-selective{
    border-left: 7px solid @selective;
}
.carrot {
    background-color: @carrot;
}
.carrot-t{
    color: @carrot;
}
.br-carrot{
    border-left: solid 7px @carrot;
}
.maliby{
    background-color: @maliby;
}
.maliby-change{
    background-color: @maliby;
    &:hover{
        background-color: @curious-blu;
    }
}
.maliby-t{
    color: @maliby;
}
.br-maliby{
    border-left: solid 7px @maliby;
}
.turquoise{
    background-color: @turquoise;
}
.turquoise-change{
    background-color: @turquoise;
    &:hover{
        background-color: @percian-green;
    }
}
.turquoise-t{
    color: @turquoise;
}
.br-turquoise{
    border-left: 7px solid @turquoise;
}
.meadow{
    background-color: @meadow;
}

