.img-tomato{
    width: 24px;
    height: 23px;
    @media @tablet {
        width: 20px;
        height: 19px;
    }
}
.main-timer{
    min-height: 600px;
    .footer-timer,
    .footer-timer-progress{
     @media @tablet{
         justify-content: center;
         align-items: center;
         min-height: 350px;
     }
    }
    .footer-timer{
        font-size: 1.5rem;
        @media @tablet{
            button{
            font-size: 1.125rem;
            font-weight: normal;
        }
    }
    }
}
.svg-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
  }
  .unit{
    fill: none;
    stroke-width: 1px;
    stroke: @selective;
  }
  .unit-within{
    fill: none;
    stroke-width: 5px;
    stroke: @nepal;
  }
  .stroke-dasharray{
      stroke-dasharray: 25 100;
      stroke-dashoffset: -57;
  }
  .svg-text{
      position: absolute;
      top:55%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }
  .svg-text-timer{
    position: absolute;
    top:48%;
    left: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-num{
    font-size: 100px;
    font-weight: normal;
    line-height: 80px;
}
  .svg-text-timer{
    position: absolute;
    top:59%;
    left: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.svg-text-completed{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}