
          <h3>Your cycle</h3>
          <div class="div-your-cycle col col-s-10" id="div-canvas">
            <div class="div-up row col-s-10 j-space-between" id="div-up"></div>
  
            <canvas id="myCanvas" width="2500px" height="1em">
              Your browser does not support the canvas element.
            </canvas>  
            <div class="div-down row col-s-10" id="div-hour"></div>
          </div>
       
    