@import (reference) '~@less-helpers-module/_mixins.less'; 
@import (reference) '~@less-helpers-module/_variables.less'; 
// @import (reference) '~@less-common-module/_general.less';

.disabled{
    &:hover, 
    &:active, 
    &:focus{
        color:@nepal !important;
    }
}
#myCanvas{
    @media @mobile{
        height: .7em;
    }
}
.transparent{
    color: transparent;
}
#div-hour{
    margin-top: .5em;
    .div-part{
    @media @mobile{
        &:nth-child(2n+1){
            i,p{
              color: transparent;  
            }            
        }
    }  
    @media @tablet{
        &:nth-child(2n+1){
            i{
              color: @maliby;  
            }
            p{
                color: @nepal;
            }            
        }
    } 
    }

    .material-icons{
        font-size: 6px;
    }
    .hour-paragraph{
        margin-top: .2em;
        color: @nepal;
    }
    .div-part{
        text-align: end;
    }
}
#div-up{
    margin-bottom: .5em; 
    .div-up-hour{
        &:nth-child(2),
        &:nth-child(3){
            align-items: flex-end;
        }
        .material-icons{
            display: flex;
            font-size: 6px;
        }
        .hour-paragraph{
            margin-bottom: .2em;
            color: @nepal;
        }
    }
}
