{{#each workspace}}
<div class="div-timer row col-10">
            <div class="circle {{space}}"></div>
            <div class="col col-10">
              <div class="div-timer-href row a-center j-space-between">
                <p>{{name}}</p>
                <div class="pomodoros-time row a-center j-space-around col-5">
                  <span
                    class="icon-minus minus"
                    id="settings-minus-{{space}}"
                  ></span>
                  <p class="work-time-number" id="settings-{{space}}-time">{{time}}</p>
                  <span class="icon-add plus" id="settings-plus-{{space}}"></span>
                </div>
              </div>
              <p class="last-literale">
                Please select a value between {{min}} and {{max}} <span>{{iterator}}</span>
              </p>
            </div>
          </div>
          {{/each}}