
         
            <div class="section-radio-button row a-end">
              <i class="material-icons radio-button department-radio-button color-{{categoryId}}"
                >radio_button_checked</i
              >
              <p class="section-radio-text color-{{categoryId}} row a-end">{{categoryId}}</p>
            </div>
      
      
