      <div class="global-list row col-s-10 a-center j-start">
        <div class="footer-daily-global row col-s-10 a-center j-start">
          <div class="hover-spray row center">
            <p class="global-text">Global list</p>
            <span class="icon-global-list-arrow-right"></span>
          </div>
        </div>
        <div class="hidden footer-daily-nav col-s-10">
          <nav class="nav footer-nav row col-10 m-0 j-end">
            <div class="div-nav row a-center j-end">
              <span class="globallist-nav" id="all-tasks">All</span>
              <span>|</span>
              <span class="globallist-nav" id="urgent-tasks">Urgent</span>
              <span>|</span>
              <span class="globallist-nav" id="hight-tasks">Hight</span>
              <span>|</span>
              <span class="globallist-nav" id="middle-tasks">Middle</span>
              <span>|</span>
              <span class="globallist-nav" id="low-tasks">Low</span>
            </div>

          </nav>          
         </div>
      </div>     
           <div class="div-nav row remove-select global-remove-select col-s-10 j-start hidden ">
             <span class="select-all hover nepal-t" id="global-select">Select All</span>
             <span class="nepal-t">|</span>
             <span class="deselect-all hover nepal-t" id="global-deselect">Deselect All</span>
         </div>