@import (reference) '~@less-helpers-module/_mixins.less'; 
@import (reference) '~@less-helpers-module/_variables.less'; 

.color-WORK{
    color: @selective;
}

.color-EDUCATION{
    color: @maliby;
}

.color-SPORT{
    color:@tomato;
}

.color-OTHER{
    color: @turquoise;
}

.color-HOBBY{
    color:@lilac;
}
.WORK{
    border-left: 8px solid @selective;
}
.HOBBY{
    border-left: 8px solid @lilac;
}
.OTHER{
    border-left: 8px solid @turquoise;
}
.SPORT{
    border-left: 8px solid @tomato;
}
.EDUCATION{
    border-left: 8px solid @maliby;
}
.text0{
    color:@tomato;
}
.text1{
    color: @carrot;
}
.text2{
    color: @selective;    
}
.text3{
    color: @maliby;
}

.footer-daily{
    @media @mobile{
        margin: 0;
    }
    @media @tablet{
        margin: 24px 64px;
    }
}
