 {{#each task}}
 <div class="task-daily row j-center mb-0 mt-1 col-10">
                  <div class="task-daily-day col center">
                    <p class="task-daily-day day nepal-t large bold m-0">{{day}}</p>
                    <p class="task-daily-day day nepal-t xs m-0">{{month}}</p>
                  </div>
                  <div class="task-daily-contain row col-10">
                    <div class="task-daily-text m-5 col-10">
                      <h5 class="daily-text-h5 text{{priority}}">
                       {{title}}
                      </h5>
                      <p class="daily-text-p m-0 small nepal-t">
                        {{description}}
                      </p>
                    </div>
                    <div class="task-daily-edit-remove row center">
                      <span class="icon-arrows-up global-arrows hover-spray" data-set="{{id}}"></span>
                      <span class="icon-edit global-edit hover-spray" data-set="{{id}}"></span>
                      <span class="icon-trash global-trash hover-spray" data-set="{{id}}"></span>
                    </div>
                  </div>
                  <div class="task-daily-pomodoro row center priority{{priority}}">
                    <div class="task-daily-pomodoro change-pomodoro relative" data-set="{{id}}">
                      <a href="/timer" class="icon-tomato white center" data-set="{{id}}"></a>
                      <p class="paragraph row center white large" data-set="{{id}}">{{estimationUsed}}</p>
                    </div>
                  </div>
                </div>
                {{/each}}