  @font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype');     
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
   src: url('../../fonts/Roboto/Roboto-Bold.ttf') format('truetype');    
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto'; 
    src: url('../../fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');    
    font-weight:lighter;
    font-style: italic;
  }

  @font-face {
    font-family: 'Roboto';
    src:  url('../../fonts/Roboto/Roboto-Light.ttf') format('truetype');  
    font-weight:lighter;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Medium.ttf') format('truetype');   
    font-weight:normal;
    font-style:normal;
  }