{{#each day}}
<div class="column-unite" id="template-column-unite-day">
    <div class="column column-unite-day row a-end">
        <div class="column column-level {{background}}" style="height:{{height}}">
            <span class="tooltiptext font-10">{{text}} {{determine}}:{{countTasks}}</span>
         </div>
    </div>
    <p class="discription-column white">{{text}}</p>
</div>
{{/each}}
                   