<div class="div-report row col-s-10 center">
        <div class="div-report arrow-back row col-1 a-center">
          <span class="icon-arrow-left nepal-t font-36">
            <span class="tooltiptext font-10">BACK</span>
          </span>
        </div>
        <div class="div-diagramm col col-s-10 center">
          <div class="div-diagram-contain col col-s-10 center">
            <div class="diagram-table col col-s-10 relative">
              <div class="table-back">
                <div class="table-row row a-end"><p class="num">10</p></div>
                <div class="table-row row a-end br-left">
                  <p class="num">8</p>
                </div>
                <div class="table-row row a-end br-left">
                  <p class="num">6</p>
                </div>
                <div class="table-row row a-end br-left">
                  <p class="num">4</p>
                </div>
                <div class="table-row row a-end br-left">
                  <p class="num">2</p>
                </div>
                <div class="table-row row a-end br-left">
                  <p class="num">0</p>
                </div>
              </div>

              <!-- Columns day upan diagram -->
              <div class="diagram-column row center" id="diagram-day">
                <div class="column-full col col-s-10 center">
                  <div
                    class="column-unite-day row col-s-10 a-end"
                    id="column-unite-day"
                  >

                  </div>
                  <div></div>
                </div>
              </div>

              <!-- Columns per week  -->
              <div class="diagram-column row center" id="diagram-week">
                <div class="column-full col col-s-10 center">
                  <div
                    class="column-unite-week row col-s-10 a-end"
                    id="column-unite-week"
                  >

                    
                  </div>
                  <div></div>
                </div>
              </div>

              <!-- Diagram in month -->
              <div
                class="diagram-column diagram-column-month row center"
                id="diagram-month"
              >
                <div class="column-full col col-s-10 center">
                  <div
                    class="column-unite-month row col-s-10 a-end"
                    id="column-unite-month"
                  ></div>
                  <div></div>
                </div>
              </div>

              <!-- Discription of diagram colors -->
              <div class="div-diagram-referenses row col-s-8 col-md-7 a-center">
                <div class="row">
                  <i class="material-icons tomato-t">stop</i>
                  <p class="nepal-t">Urgent</p>
                </div>
                <div class="row">
                  <i class="material-icons carrot-t">stop</i>
                  <p class="nepal-t">High</p>
                </div>
                <div class="row">
                  <i class="material-icons selective-t">stop</i>
                  <p class="nepal-t">Middle</p>
                </div>
                <div class="row">
                  <i class="material-icons turquoise-t">stop</i>
                  <p class="nepal-t">Low</p>
                </div>
                <div class="row">
                  <i class="material-icons nepal-t">stop</i>
                  <p class="nepal-t">Failed</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-report arrow-rigth row col-1 a-center">
          <span class="icon-arrow-right nepal-t font-36">
            <span class="tooltiptext font-10">FORWARD</span>
          </span>
        </div>
      </div>