    
      <div class="div-nav row col-s-10 center">
        <span  data-set="tasks" id="navigate-day">Day</span>
        <span>|</span>
        <span  data-set="tasks" id="navigate-week">Week</span>
        <span>|</span>
        <span  data-set="tasks" id="navigate-month">Month</span>
      </div>
