    
      <div class="div-nav row col-s-10 center">
        <a href="reports/day/tasks" data-set="tasks" id="navigate-day">Day</a>
        <span>|</span>
        <a  href="reports/week/tasks" data-set="tasks" id="navigate-week">Week</a>
        <span>|</span>
        <a  href="reports/month/tasks" data-set="tasks" id="navigate-month">Month</a>
      </div>
