@import (reference) '~@less-helpers-module/_mixins.less'; 
@import (reference) '~@less-helpers-module/_variables.less'; 

.column-urgent{
    background-color: @tomato;
}
.column-high{
    background-color: @carrot;
}
.column-middle{
    background-color: @gorse;
}
.column-low{
    background-color: @turquoise;
}
.column-failed{
    background-color: @nepal;
}

.column-unite-month{
    .column-level{
        width: .5rem;
        margin-left: .6em;
    }
}