{{#each day}}
<div class="column-unite">
    <div class="column-tasks row a-end">

        <div class="column-together col j-end">

            {{#each task}}
            <div class="column column-level column-{{background}}" style="height:{{height}}">
              <span class="tooltiptext font-10">{{background}}<br> {{determine}}:{{countTask}}</span>
         </div>
            {{/each}}

        </div>
     {{#with failed}}
        <div class="column row a-end nepal ml-1 failed" style="height:{{height}};"> 
            <span class="tooltiptext font-10">failed {{determine}}:{{countTask}}</span>          
        </div>
    {{/with}}
    </div>
    <p class="discription-column white row center">{{weekDay}}</p>
</div>
{{/each}}
                   