<div class="div-report row col-s-10 center">
        <div class="div-report arrow-back row col-1 a-center">
          <span class="icon-arrow-left nepal-t font-36">
            <span class="tooltiptext font-10">BACK</span>
          </span>
        </div>
        <div class="div-diagramm col col-s-10 center">
          <div class="div-diagram-contain col col-s-10 center">
            <div class="diagram-table col col-s-10" id="diagram-day">
            </div>
            <div class="diagram-table col col-s-10 hidden" id="diagram-week">
            </div>
            <div class="diagram-table col col-s-10 hidden" id="diagram-month">
            </div>
          </div>
        </div>
        <div class="div-report arrow-rigth row col-1 a-center">
          <span class="icon-arrow-right nepal-t font-36">
            <span class="tooltiptext font-10">FORWARD</span>
          </span>
        </div>
      </div>