@import (reference) '~@less-helpers-module/_mixins.less'; 
@import (reference) '~@less-helpers-module/_variables.less'; 

// .task-daily{
// .remove-list{    
//         width: 6rem;      
//         font-size: 3em;  
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: center;
//         &:hover{
//             .bg-remove();            
//             .icon-trash:before{
//                content: "\e906";  
//             }           
//     }    
// }
// }

.priority0{
    background-color: @nepal;
}
.priority1{
    background-color: @turquoise;
}
.priority2{
    background-color: @selective;
}
.priority3{
    background-color: @carrot;
}
.priority4{
    background-color: @tomato;
}

.category-hobby{
    background-color: @ametist;
    &:hover{
        background-color: @lilac;
    }
}
.category-sport{
   background-color: @tomato;
   &:hover{
       background-color: @terracota;
   }
}
.category-work{
    background-color: @selective;
    &:hover{
        background-color: @tangerine;
    }
}
.category-other{
    background-color: @turquoise;
    &:hover{
        background-color: @percian-green;
    }
}
.category-education{
    background-color: @maliby;
    &:hover{
        background-color: @pelorous;
    }
}


