          {{#each task}}
          <div class="task-daily row col-s-9 j-center mb-12 done-shadow">
            <div class="task-daily-shrink ametist category-{{categoryId}}"></div>
            <div class="task-daily-day col center">
                <p class="task-daily-day day nepal-t large bold m-0">{{day}}</p>
                <p class="task-daily-day day nepal-t xs m-0">{{month}}</p>
            </div>
            <div class="task-daily-contain row col-10">
              <div class="task-daily-text m-5">
                <h5 class="daily-text-h5 text{{priority}}">{{title}}</h5>
                <p class="daily-text-p m-0 small nepal-t">{{description}}</p>
              </div>
              <div class="task-daily-edit-remove row center">
              </div>
            </div>
            <div class="task-daily-pomodoro row center tomato  priority{{priority}}">
              <div class="task-daily-pomodoro change-pomodoro relative">
                <span class="icon-tomato white center"></span>
                <p class="paragraph row center white large">{{priority}}</p>
              </div>
            </div>
          </div>

          {{/each}}