     {{#each task}}
     <div class="task-daily row col-10 j-center mt-1">
      <div class="task-daily-remove row category-{{categoryId}} center">
        <span class="icon-trash white center daily-remove " data-set="{{id}}"></span>
      </div>
      <div class="task-daily-contain row">
        <div class="task-daily-text m-5">
          <h5 class="daily-text-h5 ametist-t text{{priority}}">{{title}}</h5>
          <p class="daily-text-p m-0 small nepal-t">
              {{description}}
          </p>
        </div>
        <div class="task-daily-edit-remove row center">
          <span class="icon-edit hover-spray" data-set="{{id}}"></span>
          <span class="icon-trash hover-spray" data-set="{{id}}"></span>
        </div>
      </div>
      <div class="task-daily-pomodoro row center priority{{priority}}">
        <div class="task-daily-pomodoro change-pomodoro relative" data-set="{{id}}">
          <a href="timer" class="icon-tomato white center" data-set="{{id}}"></a>
          <p class="paragraph row center white large" data-set="{{id}}">{{estimationUsed}}</p>
        </div>
      </div>
    </div>
    {{/each}}