 <div class="hidden excellent-task col col-s-10 center mt-64">
        <div class="discription-add col col-s-9 col-md-7 col-lg-5 center hover-spray">
          <p class="discription-text mb-0 mt-0">
            Excellent, 
          </p>
          <p class="discription-text mt-0 mb-5">
            all daily tasks done :)
          </p>
        </div>
      </div>
