      <div class="hidden add-first-task secture-picture col col-s-10 center">
        <div class="add-picture col col-s-10 center mb-0">
          <img src="/images/tomato-add.svg" alt="tomato-add" class="picture" />
        </div>
        <div class="discription-add">
          <p class="discription-text hover-spray mt-64">Add your first task</p>
        </div>
      </div>