    {{#each task}}
          <div class="task-daily row col-10 j-center mt-1">
            <div class="task-daily-shrink category-{{categoryId}}">
              <span class="icon-trash white center hidden"></span>
            </div>
            <div class="task-daily-day col center">            
              <p class="task-daily-day day nepal-t xs mb-0 mt-0">TODAY</p>             
            </div>

            <div class="task-daily-contain row col-10">
              <div class="task-daily-text m-5">
                <h5 class="daily-text-h5 text{{priority}}">{{title}}</h5>
                <p class="daily-text-p m-0 small nepal-t">
                    {{description}}
                </p>
              </div>
              <div class="task-daily-edit-remove row center">
                <span class="icon-edit hover-spray"  data-set="{{id}}"
                  ><span class="tooltiptext font-10">EDIT TASK</span></span
                >
                <span class="icon-trash trash-daily hover-spray" data-set="{{id}}"
                  ><span class="tooltiptext font-10">REMOVE</span></span
                >
              </div>
            </div>
            <div class="task-daily-pomodoro row center priority{{priority}}">
              <div class="task-daily-pomodoro change-pomodoro relative" data-set="{{id}}">
                <a href="/timer" class="icon-tomato white center" data-set="{{id}}">
                  <span class="tooltiptext font-10">Go To Timer</span>
                </a>
                <p class="paragraph row center white large" data-set="{{id}}">{{estimationUsed}}</p>
              </div>
            </div>
          </div>
          {{/each}}

           