
    <!-- Nav for all time -->
    <nav class="nav nav-daily nav-remove row col-9 mt-18">
      <div class="div-nav row col-s-10 a-center j-end">
        <button class="br-none bg-none" data-route="task-list"><span class="icon-close font-32" id="cancel-task"></span></button>
         
        <button class="br-none bg-none" id="btn-modal-save"><span class="icon-check font-32" id="save-task"></span></button>
      </div>
    </nav>

      <form action="#" class="col col-s-10 form center" method="post">
        <fieldset class="br-none fieldset-form col">
          <legend class="form-modal-legend bold white br-none">{{title}}</legend>       

          <div class="title br-light part-input col">
            <label for="title" class="white font-16">TITLE</label><br />
            <input
              type="text"
              id="title"
              class="bg-none br-none white"
              placeholder="Add title here"
            />
          </div>
          <div class="description br-light part-input col">
            <label for="description" class="white font-16">DESCRIPTION</label><br />
            <input
              type="text"
              id="description"
              class="bg-none br-none white"
              placeholder="Add title here"
            />
          </div>
          <div class="category part-input col">
            <label class="white">CATEGORY</label><br />

            <!--  -->
            
                <form >
                  <div class="category br-light part-first-input row">
                    <label class="container-work white ">Work
                    <input type="radio" checked="checked" class="radio-button work radio-work" name="radio">
                    <span class="checkmark-work"></span>
                  </label>
                  <label class="container-education white">Education
                    <input type="radio"  class="radio-button education radio-education" name="radio">
                    <span class="checkmark-education"></span>
                  </label>
                  <label class="container-hobby white  ">Hobby
                    <input type="radio" class="radio-button hobby radio-hobby" name="radio">
                    <span class="checkmark-hobby"></span>
                  </label>
                  <label class="container-sport white">Sport
                    <input type="radio" class="radio-button sport radio-sport" name="radio">
                    <span class="checkmark-sport"></span>
                  </label>
                  <label class="container-other white">Other
                    <input type="radio" class="radio-button other radio-other" name="radio">
                    <span class="checkmark-other"></span>
                  </label>
                  </div>

                  </form>
            

            </div>
            <div class="deadline br-light part-input col" id="deadline">
              <label for="deadline" class="white font-16">DEADLINE</label><br />
              <p class="nepal-t font-12" id="calendar-paragraph">March 22, 2022</p>
                <div class="hidden calendar col j-center" id="calendar">
                  <p class="nepal-t font-12 row j-center" id="calendar-date">March 20, 2022</p>
                   <div class="calendar-date row a-center j-space-between pr-5 pl-5 pt-5 pb-5">
                    <div class="col a-center">
                      <span class="nepal-t" id="minus-month">-</span>
                      <p class="nepal-t font-12" id="calendar-month">03</p>
                      <span class="nepal-t" id="plus-month">+</span>
                    </div>
                    <div class="col a-center">
                      <span class="nepal-t" id="minus-day">-</span>
                      <p class="nepal-t font-12" id="calendar-day">08</p>
                      <span class="nepal-t" id="plus-day">+</span>
                    </div>
                    <div class="col a-center">
                      <span class="nepal-t" id="minus-year">-</span>
                      <p class="nepal-t font-12" id="calendar-year">2022</p>
                      <span class="nepal-t" id="plus-year">+</span>
                    </div>
                   </div>
 
                  <div class="row a-center j-space-around pb-5">
                    <span class="nepal-t "  id="calendar-cancel">Cancel</span>
                    <span class="nepal-t " id="calendar-save">Save</span>
                  </div>
                </div>
            </div>
           </div>
            <div class="estimation br-light part-input col">
              <label for="estimation" class="white font-16">ESTIMATION</label><br />
              <div class="contain-tomato-estimate row">
                 <div class="img-tomato"></div>
                 <div class="img-tomato"></div>
                <div class="img-tomato"></div>
                <div class="img-tomato"></div>
                <div class="img-tomato"></div>
              </div>         
          </div>

          <div class="priority part-input col mb-2">
            <label class="white">PRIORITY</label><br />
                  <form class="priority-category br-light row">                    
                    <label class="container white ">Urgent
                      <input type="radio" class="radio-button urgent radio4" checked="checked" name="radio">
                      <span class="checkmark checkmark-urgent"></span>
                    </label>
                    <label class="container white">Hight
                      <input type="radio" class="radio-button hight radio3" name="radio">
                      <span class="checkmark checkmark-hight"></span>
                    </label>
                    <label class="container white ">Midle
                      <input type="radio" class="radio-button middle radio2" name="radio">
                      <span class="checkmark checkmark-midle"></span>
                    </label>
                    <label class="container white">Low
                      <input type="radio" class="radio-button low radio1" name="radio">
                      <span class="checkmark checkmark-low"></span>
                    </label>
                    </form>                   
        </fieldset>
      </form>
  