@import ( reference ) '~@less-helpers-module/_mixins.less'; // ~@less-helpers-module - is a path to less helpers folder
@import ( reference ) '~@less-helpers-module/_variables.less'; 
footer{
    a{
        color: @nepal;
        margin-right: 1rem;
    }    
}
#diagram-day, #diagram-week, #diagram-month{
    width: 45rem;
    height: 25rem;
}
.highcharts-legend-item{
    color: @nepal;
}