@import (reference) '~@less-helpers-module/_mixins.less'; 
@import (reference) '~@less-helpers-module/_variables.less'; 

#canvas-timer{
    position: absolute;
    top: 1.5rem;
}

.div-timer{
    button{
        background-color: transparent;
        border-color: transparent;
    }
}