      <div class="add-first-entrance secture-picture col col-s-10 center">
        <div class="add-picture col col-s-10 center mb-0">
          <img
            src="/images/tomato_settings.svg"
            alt="tomato-add"
            class="picture"
          />
        </div>
        <div class="discription-add col col-s-8 col-md-5 col-lg-4 center">
          <p class="discription-text hover-spray mt-64">
            You don't have any tasks left. Add new tasks to stay productive.
          </p>
        </div>
        <div class="btn-first-entrance row col-s-4 col-md-3 center">
          <button class="cancel btn col col-s-5">Skip</button>
          <button class="save btn col col-s-5">Go To Settings</button>
        </div>
      </div>